
<div class="segment-selector">
    <button mat-icon-button matToolTip="Move To First Segment">
    <Span style="margin-right: -5px;">|</Span>
    <mat-icon>navigate_before</mat-icon>
    </button>
    <button class="my-ripple" mat-icon-button matTooltip="Move to Prior Segment">
    <mat-icon>navigate_before</mat-icon>
    </button>
    <span>{{ segmentNumber }}/{{ countOfSegments }}</span>
    <button mat-icon-button matTooltip="Move to Next Segment">
    <mat-icon>navigate_next</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Move to Last Segment">
    <mat-icon>navigate_next</mat-icon>
    <Span style="margin-right: -5px;">|</Span>
    </button>
</div>

  
